* {
    text-align: center;
    padding: 1px;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: black;
    color: white;
}

.p1 {
    background-color: cornsilk;
    height: 100px;
}

.p2 {
    background-color: lightgray;
    height: 200px;
}

@media (max-width: 768px) {

    html {
        max-width: 700px;
        width: auto;
        background-color: white;
        justify-content: center;
        text-align: center;
    }

    .a1 p {
        margin: 5vw;
        padding: 5vw;
    }

    .p1 {
        width: 80%;
    }

    .p2 {
        width: 80%;
    }

    footer {
        width: 100%;
        display: table;
        justify-content: center;
    }

    footer p {
        margin: 1vw 3vw;
    }
}

@media (min-width: 768px) {


    html {
        min-width: 768px;
        width: auto;
        background-color: aquamarine;
    }

    .p1, .p2 {
        width: 40%;
    }

    .a1 {/*display flex es para verlo en lista/horizontal*/
        display: flex;
        justify-content: center;
    }

    .a1 p {
        margin: 1vw;
        padding: 1vw;
    }

    footer {
        display: flex;
    }

    footer p {
        margin: 1vw 3vw;
    }
}
